---
import BaseLayout from '../../layouts/baselayout.astro'
---

<BaseLayout title="Christmas Count">
  <div class="chrstm">
    <p> This is a christmas counter bc its that season again!</p>
    

    <div class="chrcount">
      <p>Days: <span id="daysValue">0</span></p>
      <p>Hours: <span id="hoursValue">0</span></p>
      <p>Minutes: <span id="minutesValue">0</span></p>
      <p>Seconds: <span id="secondsValue">0</span></p>
    </div>
    
    <script src="../../js/christmas.js"></script>
  </div>
  
  </BaseLayout>
  