---
import BaseLayout from '../../layouts/baselayout.astro'
---

<BaseLayout title="Ideas">
  <div class="gap1">
    <p>
      I will have a list of some ideas, thoughts and link them here.
    </p>
    <a class="link" href="/home/ideas/christmas">Christmas Counter</a>
    <a class="link" href="/home/ideas/thoughts/Modernity">Modernity</a>
    <a class="link" href="/home/ideas/thoughts/ModernDating">Modern Dating</a>
  </div>
  </BaseLayout>
  