---
import BaseLayout from '../../layouts/baselayout.astro'
---

<BaseLayout title="Thoughts">
  <div class="gap1">  

    <p class="lrge">Thoughts on the modernity of the world and the internet </p>
    <p class="th">If we are to make any progress as a globe, we must use the connectiveness of our internet as a tool, not as a way to make money, to influence others actions. Society has little use for those who tell others what they should and shouldn't do. People follow those paths because they feel a method of validation from it. But for that reason, also comes about reason for the popularity of music. Music allows validation alongside personal choice, taste. It allows freedom of expression without fear of having a rejected opinion. All modern issues seem to stem from the internet. Depression rates had been steady for centuries, but with the advent and rise of technology, that line started to form into a wave. It began rapidly oscillating. It is now on the unfortunate uprise due to the newfound negativity the internet seems to spread.</p>
   </div>
  </BaseLayout>
  