---
import BaseLayout from '../../layouts/baselayout.astro'
---

<BaseLayout title="Tier List">
  <div class="tier">
    <p> This is a tier list maker thingmabob.</p>
    

    <div class="tier">

    </div>
    
    <script src="../../js/tier.js"></script>
  </div>
  
  </BaseLayout>