---
import BaseLayout from '../../../layouts/baselayout.astro'
---

<BaseLayout title="Thoughts">
  <div class="gap1">  

    <p class="lrge">Modern Dating</p>
    <br>
    <p class="th">Modern dating has brought about the uprise of many different, new societal trends. Here are my thoughts outlining these concepts.
        <br><br>
        Dating in the modern world has become somewhat more enclosed. People are just so much more anxious, and as such its simply become easier to date people you already have any form of existing connection with, even if minuscule, it can help you because you have initial rapport that means that you can be yourself more around them without needing to build up to that.
        <br><br>
        Modern dating require much more courage and confidence which is a trait that has been on the decline in many people for years now. Anxiety, social awkwardness and many of these other negative mental habits have been on the rise, especially with the newfound freedoms brought about by social media. Meeting someone at random is become less likely due to shifting societal opinions, albeit it is still an option, but a less successful one it seems, mainly because people are finding connection through alternate means. Social media boosts confidence due to the lack of face to face interaction, whilst it is this face to face interaction that induces the growth of confidence. Social media has just added another step to creating and maintaining a successful relationship. Modern standards bring about the requirement for everyone to be perfect whilst no one can yet achieve such a feat without comprising their values it seems.
        People have also become so much more co-dependent due to this current modern depression, that the social currency requires spending much more effort and time on your partners, due to this need to be sure that they are still into you. But this incessant need often creates a new point of issue within relationships. People need to learn to be themselves, trust themselves and live without this modern trend of anxiety.</p>
   </div>
  </BaseLayout>