---
import BaseLayout from '../layouts/baselayout.astro'
---

<BaseLayout title="About">
  <div class="gap1">  
      <p>
        Supposedly an about me goes here.
        <br>
        Well all I can say is I'll get to it.
        <br>
        Or maybe Not.
      </p>
   </div>
  </BaseLayout>
  