---
import BaseLayout from '../layouts/baselayout.astro'
---

<BaseLayout title="Contochat">
  <div class="gap1">
	<h1>
        ContoChat
    </h1>
    <p>
        ContoChat is a chat software that I built. It utilises python websockets to connect to a pre-defined server. <br>
        It also utilises pre-defined users, although it can be adapted to support using databases.<br>
        Due to its design it allows private communication for users, across the internet, to pre-set destinations.<br>
        <br>
        This software requires a computer that supports .exe files.
        <br> If you want to test this, below are 2 downloadable files, one which starts the server locally on your computer, and the other which acts as the client.
    <br>Start the server and then start up 2 clients (use different users.) and you can see it in action   
    <br>
    <br>
    Here is the list of usernames and passwords that are predefined (user|Pass). <br>

    (|),(|),(|)


    <br>
    <br>
    The link to the <a class="link" href="https://github.com/conotoium/ContoChat" target=”_blank”>Github</a> page is here.
</p>
  </BaseLayout>
  