---
import BaseLayout from '../layouts/baselayout.astro'
---

<BaseLayout title="Search">
  <div class="gap1">
	<script async src="https://cse.google.com/cse.js?cx=b569a97257cea4710">
    </script>
    <div class="gcse-search"></div>
	</div>
  </BaseLayout>
  