---
import BaseLayout from '../layouts/baselayout.astro'
---

<BaseLayout title="Home">
<div class="gap1">
	<p>Welcome to my site.
    <br>
    This hosts a collection of my Ideas, Thoughts, Software, And much more :)
    <br>
    Please feel free to explore.
  </p>
	<br>
  <br>
  <p>Seasonal Idea:</p>
  <a class="link" href="/home/ideas/christmas">Christmas Counter</a>
</div>
  </BaseLayout>
  
