---
import BaseLayout from '../layouts/baselayout.astro'
---

<BaseLayout title="Home">
<div class="gap1">
	<p>Welcome to my site.
    <br>
    This hosts a collection of my Ideas, Thoughts, Software, And much more :)
    <br>
    Please feel free to explore.
  </p>
  <br>
  <p>My Current Project is:
    <br>
    ContoLogger- Travel log/mapper
  </p>

	<br>
  <br>
  <p>Seasonal Ideas:</p>
  <p>This is currently empty as its january.(For the christmas counter head over to the ideas page.)</p>
</div>
  </BaseLayout>
  
