@tailwind base;
@tailwind components;
@tailwind utilities;


.gap1{
    margin-right: 1em;
    margin-left: 1em;
}

.link{
  color:aquamarine;
}

.title{
  color: goldenrod;
}

.chrcount{
  color: palegreen;
  font-size: large;
  font-variant-numeric: oldstyle-nums;
}

.chrstm{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(102,47,61,1) 40%, rgba(9,121,72,1) 64%, rgba(0,128,3,1) 100%);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.Basefit{
  margin-right: 1em;
  margin-left: 1em;
}

p{

}


footer{
    background-color: var(--my-color);
    margin-top: auto;
}